/* Header box styling */
.headerBox {
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  header {
    background: rgba(255, 255, 255, 0.04);
    display: flex;
    position: relative;
    width: 90vw;
    height: 18vh;
    border-radius: 2rem;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  /* Logo styling */
  .logoLink {
    display: inline-block;
    position: relative;
    align-content: center;
    top: -1.4vh;
    padding-left: 30px;
  }
  
  .logo {
    height: 9rem;
    width: 9rem;
  }